CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_hap.csv"
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_SMARTHOME_WIFI_ONBOARDING_PROVISIONING=y
CONFIG_SMARTHOME_WIFI_PROV_TRANSPORT_SOFTAP=y
CONFIG_SMARTHOME_WIFI_PROV_SERVICE_PREFIX="DOAN2LED_"
CONFIG_SMARTHOME_WIFI_PROV_SHOW_QR=y
CONFIG_SMARTHOME_BRIDGE_NAME="ESP32 LED Demo"
CONFIG_SMARTHOME_MANUFACTURER="DoAn2"
CONFIG_SMARTHOME_BRIDGE_MODEL="ESP32HomeKitLED"
CONFIG_SMARTHOME_SERIAL_NUMBER="DOAN2-LED"
CONFIG_SMARTHOME_FW_REVISION="0.1.0"
CONFIG_SMARTHOME_SWITCH_ID="esp32_led"
CONFIG_SMARTHOME_SWITCH_NAME="ESP32 LED"
CONFIG_SMARTHOME_SWITCH_GPIO=2
CONFIG_SMARTHOME_SWITCH_ACTIVE_HIGH=y
CONFIG_SMARTHOME_OUTPUT_AS_LIGHTBULB=y
CONFIG_SMARTHOME_OUTPUT_BOOT_ON=n
CONFIG_SMARTHOME_SWITCH_SYNC_INTERVAL_MS=250
CONFIG_SMARTHOME_LOCAL_STATE_SELF_TEST=n
CONFIG_SMARTHOME_HAP_SETUP_CODE="111-22-333"
CONFIG_SMARTHOME_HAP_SETUP_ID="ES32"
