CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_hap.csv"
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_SMARTHOME_WIFI_SSID=""
CONFIG_SMARTHOME_WIFI_PASSWORD=""
CONFIG_SMARTHOME_WIFI_ONBOARDING_PROVISIONING=y
CONFIG_SMARTHOME_WIFI_PROV_TRANSPORT_SOFTAP=y
CONFIG_SMARTHOME_WIFI_PROV_SERVICE_PREFIX="DOAN2_"
CONFIG_SMARTHOME_WIFI_PROV_SHOW_QR=y
CONFIG_SMARTHOME_BRIDGE_NAME="DoAn2 Bridge"
CONFIG_SMARTHOME_MANUFACTURER="DoAn2"
CONFIG_SMARTHOME_BRIDGE_MODEL="ESP32HomeKitBridge"
CONFIG_SMARTHOME_SERIAL_NUMBER="DOAN2-ESP32"
CONFIG_SMARTHOME_FW_REVISION="0.1.0"
CONFIG_SMARTHOME_SWITCH_ID="hk_switch_1"
CONFIG_SMARTHOME_SWITCH_NAME="Aux Switch"
CONFIG_SMARTHOME_SWITCH_GPIO=26
CONFIG_SMARTHOME_SWITCH_ACTIVE_HIGH=y
CONFIG_SMARTHOME_PRIMARY_OUTPUT_SERVICE_LIGHT=y
CONFIG_SMARTHOME_OUTPUT_BOOT_ON=n
CONFIG_SMARTHOME_SWITCH_SYNC_INTERVAL_MS=250
CONFIG_SMARTHOME_LOCAL_STATE_SELF_TEST=n
CONFIG_SMARTHOME_LOCAL_STATE_SELF_TEST_INTERVAL_MS=10000
CONFIG_SMARTHOME_ENABLE_VIRTUAL_LOCK=y
CONFIG_SMARTHOME_LOCK_ID="front_door_lock"
CONFIG_SMARTHOME_LOCK_NAME="Front Door Lock"
CONFIG_SMARTHOME_LOCK_BOOT_LOCKED=y
CONFIG_SMARTHOME_ENABLE_ENV_SENSOR=y
CONFIG_SMARTHOME_ENV_SENSOR_ID="environment_sensor"
CONFIG_SMARTHOME_ENV_SENSOR_NAME="Room Climate"
CONFIG_SMARTHOME_ENV_SENSOR_TEMPERATURE=y
CONFIG_SMARTHOME_ENV_TEMPERATURE_C_X10=275
CONFIG_SMARTHOME_ENV_SENSOR_HUMIDITY=y
CONFIG_SMARTHOME_ENV_HUMIDITY_PERCENT_X10=650
CONFIG_SMARTHOME_ENV_SENSOR_SIMULATOR=y
CONFIG_SMARTHOME_ENV_SENSOR_SIM_INTERVAL_MS=30000
CONFIG_SMARTHOME_HAP_SETUP_CODE="111-22-333"
CONFIG_SMARTHOME_HAP_SETUP_ID="ES32"
